NODE_ENV=development
PORT=5000

DATABASE_URL="postgres://b03522f12e934438d90744ed5f59abf3d721860d41deacef63d82b8b476e3454:sk_XJMqqwn4CEYj8UC3xv8G5@db.prisma.io:5432/postgres?sslmode=verify-full"

BETTER_AUTH_SECRET=5r78BeUgfR3C0gSYZjoxzjcBdzNRB9do
BETTER_AUTH_URL=http://localhost:5000
BETTER_AUTH_SESSION_TOKEN_EXPIRES_IN=604800
BETTER_AUTH_SESSION_TOKEN_UPDATE_AGE=86400

EMAIL_SENDER_SMTP_USER=your@email.com
EMAIL_SENDER_SMTP_PASS=your-smtp-password
EMAIL_SENDER_SMTP_HOST=smtp.gmail.com
EMAIL_SENDER_SMTP_PORT=587
EMAIL_SENDER_SMTP_FROM=your@email.com

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/callback/google

FRONTEND_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=usd
PREMIUM_PRICE_USD=9.99

SUPER_ADMIN_EMAIL=admin@cinetube.com
SUPER_ADMIN_PASSWORD=SuperSecurePassword123!


